.cta{
    padding: 180px 0;
    background: url(../../img/city/city.jpg);
}

.cta__title{
    margin-bottom: 17px;
}

.cta__wrapper{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap:30px;
}

.cta__text{
   max-width: 540px;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 1.5 */

   p + p {
    margin-top: 1em;
   }
}

.cta__form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 35px;
}